@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Norms Medium';
    src: url('..//fonts/TTNorms/TTNorms-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Light';
    src: url('..//fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Medium';
    src: url('..//fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Light';
    src: url('..//fonts/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Regular';
    src: url('..//fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Medium';
    src: url('..//fonts/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('..//fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Bold';
    src: url('..//fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }